body {
	font-family: calibri;
	background-color:white;
	margin:0px;
}
/* The header personal thing */
#persona {
	border:1px solid lightgray;
	height:220px;
	margin-left:auto;
	margin-right:auto;	
	width:850px;	
}
	/* The image in this personal thing */
	#imgbox {
		margin-top:10px;
		float:left;
		height:200px;
		padding:10px;
		width:200px;						
	}
	
	/* The text in this personal thing */
	.test {
		color:darkgrey;
		font-family:Calibri;
		font-size:48px;
		float:right;	
		margin-top:25px;
		text-shadow:1px 1px black;	
		width:600px;
	}
	
#blogcontainer {
	width:800px;
	margin:auto;
}