body {
	font-family: calibri;
	background-color:white;
}
.imgbox {
	width:200px;
	height:200px;
	padding:10px;
	border:1px solid black;
	float:left;
}
#persona {
	margin-left:auto;
	margin-right:auto;
	height:220px;
	width:600px;
	border:1px solid lightgray;
}

#persona p {
	font-family:Calibri;
	color:darkgrey;
	text-shadow:1px 1px 1px solid black;
	float:left;
	margin-right:500px;
	font-size:72px;
}