body {
	font-family: calibri;
	background-color:white;
	margin:0px;
}
/* The header personal thing */
#container {
	margin:auto;
	width:800px;
}
#persona {
	height:220px;
	margin-left:auto;
	margin-right:auto;	
	width:820px;	
}
	/* The image in this personal thing */
	#imgbox {
		margin-top:10px;
		float:left;
		height:200px;
		padding:10px;
		width:200px;						
	}
	
	/* The text in this personal thing */
	.test {
		color:darkblue;
		font-family:Calibri;
		font-size:48px;
		float:right;	
		margin-top:25px;
		text-shadow:1px 1px black;	
		width:600px;
	}
		
	.post {
		border:1px solid gray;	
		height:300px;
		width:820px;
		margin-bottom:15px;
	}
	.postheader {
		font-size:20px;
		font-weight:600;
		float:left;
		height:50px;
		clear:both;
		width:820px;
		border-bottom:1px solid black;
	}
	.postheadertext {
		margin-left:30px;
		font-size:40px;
		color:black;
		font-family:'Lobster Two';
	}
	
	.postcontent {
		float:left;
		width:820px;
		padding:5px;
	}
	




